---
title: "Workshop on R in Data Science
always_allow_html: yes
output: 
  html_document:
    highlight: tango
    toc: true
    toc_float:
      collapsed: true
---

In [ ]:
options(max.print = 100)
knitr::opts_chunk$set(message = FALSE)

Welcome
========

Materials and setup 
-------------------

**NOTE: skip this section if you are not running R locally** (e.g., if you are
running R in your browser using a remote Jupyter server)

You should have R installed --if not:

-   Download and install R from http://cran.r-project.org
-   Download and install RStudio from https://www.rstudio.com/products/rstudio/download/#download

Notes and examples for this workshop are available at 
[](http://tutorials.iq.harvard.edu/R/Rintro/Rintro.html)

Start RStudio create a new project:
-   On Windows click the start button and search for rstudio. On Mac
    RStudio will be in your applications folder.
-   In Rstudio go to `File -> New Project`.
-   Choose `New Directory` and `New Project`.
-   Choose a name and location for your new project directory.

Workshop goals and approach
---------------------------

In this workshop you will

-  learn R basics,
-  learn about the R package ecosystem,
-  practice reading files and manipulating data in R

A more general goal is to get you comfortable with R so that it seems less scary and mystifying than it perhaps does now. Note that this is by no means a complete or thorough introduction to R! It's just enough to get you started.

This workshop is relatively informal, example-oriented, and hands-on. We won't spend much time examining language features in detail. Instead we will work through an example, and learn some things about the R  along the way.

As an example project we will analyze the popularity of baby names in the US from 1960 through 2017. Among the questions we will use R to answer are:

-  In which year did your name achieve peak popularity?
-  How many children were born each year?
-  What are the most popular names overall? For girls? For Boys?

Launch RStudio (skip if not using Rstudio)
------------------------------------------
**Note: skip this section if you are not using Rstudio (e.g., if you are running
these examples in a Jupyter notebook).**

-   Start the RStudio program
-   In RStudio, go to **File =&gt; New File =&gt R Script**

The window in the upper-left is your R script. This is where you will
write instructions for R to carry out.

The window in the lower-left is the R console. This is where results
will be displayed.

Exercise 
----------

The purpose of this exercise is to give you an opportunity to explore
the interface provided by RStudio (or whichever GUI you've decided to
use). You may not know how to do these things; that's fine! This is an
opportunity to figure it out.

Also keep in mind that we are living in a golden age of tab completion.
If you don't know the name of an R function, try guessing the first two
or three letters and pressing TAB. If you guessed correctly the function
you are looking for should appear in a pop up!

-------------------------------------------

1.  Add 4 and 5 and subtract 4 from 5.

In [ ]:
##

2.  Find the square root of 49.

In [ ]:
##

3.  R includes extensive documentation, including a manual named "An
    introduction to R". Use the RStudio help pane. to locate this manual.

In [ ]:
## 3. Find "An Introduction to R".

In [ ]:
## Go to the main help page by running 'help.start() or using the GUI
## menu, find and click on the link to "An Introduction to R".

Basics
========

# Types of variables and tables
# 2.1. Variable Types

# 2.1.1. Numbers

The most basic way to store a number is to make an assignment of a single number:

In [24]:
a <- 3

The “<-” tells R to take the number to the right of the symbol and store it in a variable whose name is given on the left. 
You can also use the “=” symbol. When you make an assignment R does not print out any information. If you want to see what 
value a variable has just type the name of the variable on a line and press the enter key:

In [26]:
a

[1] 3

This allows you to do all sorts of basic operations and save the numbers:

In [29]:
b <- sqrt(a*a+3)

In [30]:
b

[1] 3.464102

If you want to get a list of the variables that you have defined in a particular session you can list them all using the ls command:

In [31]:
ls()

[1] "a" "b" "c"

You are not limited to just saving a single number. You can create a list (also called a “vector”) using the c command:

In [33]:
a <- c(1,2,3,4,5)

In [34]:
a
a+1

[1] 1 2 3 4 5

[1] 2 3 4 5 6

In [35]:
mean(a)
var(a)

[1] 3

[1] 2.5

You can get access to particular entries in the vector in the following manner:

In [37]:
a[1]

[1] 1

numeric(0)

In [40]:
a[0]

numeric(0)

In [39]:
a[6]

[1] NA

Note that the zero entry is used to indicate how the data is stored. The first entry in the vector is the first number, and if 
you try to get a number past the last number you get “NA.”

To initialize a list of numbers the numeric command can be used. For example, to create a list of 10 numbers, initialized to 
zero, use the following command:

In [42]:
a <- numeric(10)
a

 [1] 0 0 0 0 0 0 0 0 0 0

If you wish to determine the data type used for a variable the type command:

In [43]:
typeof(a)

[1] "double"

# 2.1.2. Strings
You are not limited to just storing numbers. You can also store strings/character variables. A string is specified by using quotes. Both single and double quotes will work:

In [47]:
a <- "hello"
a
b <- c("hello","world")
b
b[1]

[1] "hello"

[1] "hello" "world"

[1] "hello"

The name of the type given to strings is character,

In [48]:
typeof(a)

[1] "character"

In [50]:
a = character(20)
a

 [1] "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" ""

# 2.1.3. Factors
Another important way R can store data is as a factor. Often times an experiment includes trials for different levels of some explanatory variable. For example, when looking at the impact of carbon dioxide on the growth rate of a tree you might try to observe how different trees grow when exposed to different preset concentrations of carbon dioxide. The different levels are also called factors.

Assuming you know how to read in a file, we will look at the data file given in the first chapter. Several of the variables in the file are factors:

summary(tree$CHBR)


A1  A2  A3  A4  A5  A6  A7  B1  B2  B3  B4  B5  B6  B7  C1  C2  C3  C4  C5  C6
3   1   1   3   1   3   1   1   3   3   3   3   3   3   1   3   1   3   1   1
C7 CL6 CL7  D1  D2  D3  D4  D5  D6  D7
1   1   1   1   1   3   1   1   1   1

Because the set of options given in the data file corresponding to the “CHBR” column are not all numbers R automatically assumes that it is a factor. When you use summary on a factor it does not print out the five point summary, rather it prints out the possible values and the frequency that they occur.

In this data set several of the columns are factors, but the researchers used numbers to indicate the different levels. For example, the first column, labeled “C,” is a factor. Each trees was grown in an environment with one of four different possible levels of carbon dioxide. The researchers quite sensibly labeled these four environments as 1, 2, 3, and 4. Unfortunately, R cannot determine that these are factors and must assume that they are regular numbers.

This is a common problem and there is a way to tell R to treat the “C” column as a set of factors. You specify that a variable is a factor using the factor command. In the following example we convert tree$C into a factor:

In [53]:
tree$C
summary(tree$C)

ERROR: Error in eval(expr, envir, enclos): object 'tree' not found

In [57]:
tree$C <- factor(tree$C)
tree$C
summary(tree$C)
levels(tree$C)

ERROR: Error in factor(tree$C): object 'tree' not found

Once a vector is converted into a set of factors then R treats it differently. A set of factors have a discrete set of possible values, and it does not make sense to try to find averages or other numerical descriptions. One thing that is important is the number of times that each factor appears, called their “frequencies,” which is printed using the summary command.

# 2.1.4. Data Frames
Another way that information is stored is in data frames. This is a way to take many vectors of different types and store them in the same variable. The vectors can be of all different types. For example, a data frame may contain many lists, and each list might be a list of factors, strings, or numbers.

There are different ways to create and manipulate data frames. Most are beyond the scope of this introduction. They are only mentioned here to offer a more complete description. Please see the first chapter for more information on data frames.

One example of how to create a data frame is given below:

In [58]:
a <- c(1,2,3,4)
b <- c(2,4,6,8)
levels <- factor(c("A","B","A","B"))
both <- data.frame(first=a,
                      second=b,
                      f=levels)
both

  first second f
1 1     2      A
2 2     4      B
3 3     6      A
4 4     8      B

In [59]:
summary(both)

     first          second    f
 Min.   :1.00   Min.   :2.0   A:2
 1st Qu.:1.75   1st Qu.:3.5   B:2
 Median :2.50   Median :5.0
 Mean   :2.50   Mean   :5.0
 3rd Qu.:3.25   3rd Qu.:6.5
 Max.   :4.00   Max.   :8.0

In [62]:
both$first
both$second
both$f

[1] 1 2 3 4

[1] 2 4 6 8

[1] A B A B
Levels: A B

# 2.1.5. Logical
Another important data type is the logical type. There are two predefined variables, TRUE and FALSE:

In [64]:
a = TRUE
typeof(a)
b = FALSE
typeof(b)

[1] "logical"

[1] "logical"

In [ ]:
The standard logical operators can be used:

<	less than
>	great than
<=	less than or equal
>=	greater than or equal
==	equal to
!=	not equal to
|	entry wise or
||	or
!	not
&	entry wise and
&&	and
xor(a,b)	exclusive or
Note that there is a difference between operators that act on entries within a vector and the whole vector:

In [67]:
a = c(TRUE,FALSE)
b = c(FALSE,FALSE)
a|b

[1]  TRUE FALSE

In [68]:
a||b
xor(a,b)

[1] TRUE

[1]  TRUE FALSE

There are a large number of functions that test to determine the type of a variable. For example the is.numeric function can determine if a variable is numeric:

In [70]:
a = c(1,2,3)
is.numeric(a)
is.factor(a)

[1] TRUE

[1] FALSE

# 2.2. Tables
Another common way to store information is in a table. Here we look at how to define both one way and two way tables. We only look at how to create and define tables.

# 2.2.1. One Way Tables
The first example is for a one way table. One way tables are not the most interesting example, but it is a good place to start. One way to create a table is using the table command. The arguments it takes is a vector of factors, and it calculates the frequency that each factor occurs. Here is an example of how to create a one way table:

In [71]:
a <- factor(c("A","A","B","A","B","B","C","A","C"))
results <- table(a)
results

a
A B C
4 3 2

In [72]:
attributes(results)

$dim
[1] 3

$dimnames
$dimnames$a
[1] "A" "B" "C"


$class
[1] "table"

In [73]:
summary(results)

Number of cases in table: 9
Number of factors: 1

If you know the number of occurrences for each factor then it is possible to create the table directly, but the process is, unfortunately, a bit more convoluted. There is an easier way to define one-way tables (a table with one row), but it does not extend easily to two-way tables (tables with more than one row). You must first create a matrix of numbers. A matrix is like a vector in that it is a list of numbers, but it is different in that you can have both rows and columns of numbers. For example, in our example above the number of occurrences of “A” is 4, the number of occurrences of “B” is 3, and the number of occurrences of “C” is 2. We will create one row of numbers. The first column contains a 4, the second column contains a 3, and the third column contains a 2:

In [74]:
occur <- matrix(c(4,3,2),ncol=3,byrow=TRUE)
occur

     [,1] [,2] [,3]
[1,] 4    3    2

At this point the variable “occur” is a matrix with one row and three columns of numbers. To dress it up and use it as a table we would like to give it labels for each columns just like in the previous example. Once that is done we convert the matrix to a table using the as.table command:

In [75]:
colnames(occur) <- c("A","B","C")
occur

     A B C
[1,] 4 3 2

In [76]:
occur <- as.table(occur)
occur

  A B C
A 4 3 2

In [77]:
attributes(occur)

$dim
[1] 1 3

$dimnames
$dimnames[[1]]
[1] "A"

$dimnames[[2]]
[1] "A" "B" "C"


$class
[1] "table"

# 2.2.2. Two Way Tables
If you want to add rows to your table just add another vector to the argument of the table command. In the example below we have two questions. In the first question the responses are labeled “Never,” “Sometimes,” or “Always.” In the second question the responses are labeled “Yes,” “No,” or “Maybe.” The set of vectors “a,” and “b,” contain the response for each measurement. The third item in “a” is how the third person responded to the first question, and the third item in “b” is how the third person responded to the second question.

In [78]:
a <- c("Sometimes","Sometimes","Never","Always","Always","Sometimes","Sometimes","Never")
b <- c("Maybe","Maybe","Yes","Maybe","Maybe","No","Yes","No")
results <- table(a,b)
results

           b
a           Maybe No Yes
  Always        2  0   0
  Never         0  1   1
  Sometimes     2  1   1

The table command allows us to do a very quick calculation, and we can immediately see that two people who said “Maybe” to the first question also said “Sometimes” to the second question.


Just as in the case with one-way tables it is possible to manually enter two way tables. The procedure is exactly the same as above except that we now have more than one row. We give a brief example below to demonstrate how to enter a two-way table that includes breakdown of a group of people by both their gender and whether or not they smoke. You enter all of the data as one long list but tell R to break it up into some number of columns:

In [79]:
sexsmoke<-matrix(c(70,120,65,140),ncol=2,byrow=TRUE)
rownames(sexsmoke)<-c("male","female")
colnames(sexsmoke)<-c("smoke","nosmoke")
sexsmoke <- as.table(sexsmoke)
sexsmoke

       smoke nosmoke
male      70     120
female    65     140

The matrix command creates a two by two matrix. The byrow=TRUE option indicates that the numbers are filled in across the rows first, and the ncols=2 indicates that there are two columns.

3.Calling a function
---------

The general form for calling R functions is

In [8]:
## FunctionName(arg.1 = value.1, arg.2 = value.2, ..., arg.n = value.n)

Arguments can be matched by name; unnamed arguments will be matched by position.

Assignment
----------

Values can be assigned names and used in subsequent operations

-   The `<-` operator (less than followed by a dash) is used to save
    values
-   The name on the left gets the value on the right.

In [9]:
sqrt(49) ## calculate square root of 49; result is not stored anywhere
x <- sqrt(49) # assign result to a variable named x

[1] 7

Names should start with a letter, and contain only letters, numbers, underscores, and periods.

Asking R for help
---------------------

You can ask R for help using the `help` function, or the `?` shortcut.

In [ ]:
help(help)

The `help` function can be used to look up the documentation for a function, or
to look up the documentation to a package. We can learn how to use the `stats`
package by reading its documentation like this:

In [ ]:
help(package = "stats")

Loading the data into R
===================

R has data reading functionality built-in -- see e.g.,
`help(read.table)`. However, faster and more robust tools are
available, and so to make things easier on ourselves we will use a
*contributed package* called `readr` instead. This requires that we
learn a little bit about packages in R.

Installing and using R packages
----------------------------------------------------

A large number of contributed packages are available. If you are
looking for a package for a specific task,
https://cran.r-project.org/web/views/ and https://r-pkg.org are good
places to start.

You can install a package in R using the `install.packages()`
function. Once a package is installed you may use the `library`
function to attach it so that it can be used.

Some common file types
-----------------------------

In order to read data from a file, you have to know what kind of file
it is. The table below lists functions that can import data from
common plain-text formats.

| Data Type                 | Function        |
| ------------------------- | --------------- |
| comma separated           | `read_csv()`    |
| tab separated             | `read_delim()`  |
| other delimited formats   | `read_table()`  |
| fixed width               | `read_fwf()`    |

**Note** You may be confused by the existence of similar functions,
e.g., `read.csv` and `read.delim`. These are legacy functions that
tend to be slower and less robust than the `readr` functions. One way
to tell them apart is that the faster more robust versions use
underscores in their names (e.g., `read_csv`) while the older
functions us dots (e.g., `read.csv`). My advice is to use the more
robust newer versions, i.e., the ones with underscores.

Exercise 1: Reading the NYC Flights 2013 data.
---------------------------------------
This data is from R package named nycflights13. You need to install the package nycflights13. Then you need to call libraries

In [4]:
country.code <- 'us'  # use yours
url.pattern <- 'https://'  # use http if you want
repo.data.frame <- subset(getCRANmirrors(), CountryCode == country.code & grepl(url.pattern, URL))
options(repos = repo.data.frame$URL)

In [ ]:
install.packages("tidyverse")

In [ ]:
install.packages("nycflights13")

In [ ]:
library(nycflights13)
library(tidyvers)

To explore the basic data manipulation verbs of dplyr, we’ll use nycflights13::flights. This data frame contains all 336,776 flights that departed from New York City in 2013. The data comes from the US Bureau of Transportation Statistics, and is documented in ?flights.

1. Install the packaes nycflights13 and tidyverse

2. Then call the lirbraries: nycflights13 and tidyverse
3. nycflights13::flights, then you'll see the following tibble(a type of      dataframe)

In [8]:
#> # A tibble: 336,776 x 19
#>    year month   day dep_time sched_dep_time dep_delay arr_time
#>   <int> <int> <int>    <int>          <int>     <dbl>    <int>
#> 1  2013     1     1      517            515         2      830
#> 2  2013     1     1      533            529         4      850
#> 3  2013     1     1      542            540         2      923
#> 4  2013     1     1      544            545        -1     1004
#> 5  2013     1     1      554            600        -6      812
#> 6  2013     1     1      554            558        -4      740
#> # … with 3.368e+05 more rows, and 12 more variables: sched_arr_time <int>,
#> #   arr_delay <dbl>, carrier <chr>, flight <int>, tailnum <chr>,
#> #   origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>, hour <dbl>,
#> #   minute <dbl>, time_hour <dttm>

You might also have noticed the row of three (or four) letter abbreviations under the column names. These describe the type of each variable:

- int stands for integers.

- dbl stands for doubles, or real numbers.

- chr stands for character vectors, or strings.

- dttm stands for date-times (a date + a time).

Exercise 1 solution<span class="tag" data-tag-name="prototype"></span>
----------------------------------------------------------------------

In [ ]:
## read ?read_csv

5.1 Use of filter()
=======================
Let us assume that we need to find the flights that departs on January 1 and we can do this by using filter(flights, month == 1, day == 1)

In [ ]:
filter(flights, month == 1, day == 1)
#> # A tibble: 842 x 19
#>    year month   day dep_time sched_dep_time dep_delay arr_time
#>   <int> <int> <int>    <int>          <int>     <dbl>    <int>
#> 1  2013     1     1      517            515         2      830
#> 2  2013     1     1      533            529         4      850
#> 3  2013     1     1      542            540         2      923
#> 4  2013     1     1      544            545        -1     1004
#> 5  2013     1     1      554            600        -6      812
#> 6  2013     1     1      554            558        -4      740
#> # … with 836 more rows, and 12 more variables: sched_arr_time <int>,
#> #   arr_delay <dbl>, carrier <chr>, flight <int>, tailnum <chr>,
#> #   origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>, hour <dbl>,
#> #   minute <dbl>, time_hour <dttm>

When you run that line of code, dplyr executes the filtering operation and returns a new data frame. dplyr functions never modify their inputs, so if you want to save the result, you’ll need to use the assignment operator, <-:

In [ ]:
jan1 <- filter(flights, month == 1, day == 1)

You can find any flights that departs on any day from NYC in 2013

In [ ]:
jan1
# A tibble: 842 x 19
    year month   day dep_time sched_dep_time dep_delay arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>
 1  2013     1     1      517            515         2      830
 2  2013     1     1      533            529         4      850
 3  2013     1     1      542            540         2      923
 4  2013     1     1      544            545        -1     1004
 5  2013     1     1      554            600        -6      812
 6  2013     1     1      554            558        -4      740
 7  2013     1     1      555            600        -5      913
 8  2013     1     1      557            600        -3      709
 9  2013     1     1      557            600        -3      838
10  2013     1     1      558            600        -2      753
# ... with 832 more rows, and 12 more variables:
#   sched_arr_time <int>, arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>,
#   air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>,
#   time_hour <dttm>

In [ ]:
dec25 <- filter(flights, month == 12, day == 25)
dec25
#> # A tibble: 719 x 19
#>    year month   day dep_time sched_dep_time dep_delay arr_time
#>   <int> <int> <int>    <int>          <int>     <dbl>    <int>
#> 1  2013    12    25      456            500        -4      649
#> 2  2013    12    25      524            515         9      805
#> 3  2013    12    25      542            540         2      832
#> 4  2013    12    25      546            550        -4     1022
#> 5  2013    12    25      556            600        -4      730
#> 6  2013    12    25      557            600        -3      743
#> # … with 713 more rows, and 12 more variables: sched_arr_time <int>,
#> #   arr_delay <dbl>, carrier <chr>, flight <int>, tailnum <chr>,
#> #   origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>, hour <dbl>,
#> #   minute <dbl>, time_hour <dttm>

# 2 Exercises
Find all flights that

- Had an arrival delay of two or more hours
- Flew to Houston (IAH or HOU)
- Were operated by United, American, or Delta
- Departed in summer (July, August, and September)
- Arrived more than two hours late, but didn’t leave late
- Were delayed by at least an hour, but made up over 30 minutes in flight
- Departed between midnight and 6am (inclusive)


Another useful dplyr filtering helper is between(). 
- What does it do? Can you use it to simplify the code needed to answer the previous challenges?

- How many flights have a missing dep_time? What other variables are missing? What might these rows represent?

- Why is NA ^ 0 not missing? Why is NA | TRUE not missing? Why is FALSE & NA not missing? Can you figure out the general rule? (NA * 0 is a tricky counterexample!)

 # 5.2 Arrange rows with arrange()
 arrange() works similarly to filter() except that instead of selecting rows, it changes their order. It takes a data frame and a set of column names (or more complicated expressions) to order by. If you provide more than one column name, each additional column will be used to break ties in the values of preceding columns:

In [ ]:
arrange(flights, year, month, day)
#> # A tibble: 336,776 x 19
#>    year month   day dep_time sched_dep_time dep_delay arr_time
#>   <int> <int> <int>    <int>          <int>     <dbl>    <int>
#> 1  2013     1     1      517            515         2      830
#> 2  2013     1     1      533            529         4      850
#> 3  2013     1     1      542            540         2      923
#> 4  2013     1     1      544            545        -1     1004
#> 5  2013     1     1      554            600        -6      812
#> 6  2013     1     1      554            558        -4      740
#> # … with 3.368e+05 more rows, and 12 more variables: sched_arr_time <int>,
#> #   arr_delay <dbl>, carrier <chr>, flight <int>, tailnum <chr>,
#> #   origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>, hour <dbl>,
#> #   minute <dbl>, time_hour <dttm>

We can use desc() to re-order by a column in descending order:

In [ ]:
arrange(flights, desc(dep_delay))
#> # A tibble: 336,776 x 19
#>    year month   day dep_time sched_dep_time dep_delay arr_time
#>   <int> <int> <int>    <int>          <int>     <dbl>    <int>
#> 1  2013     1     9      641            900      1301     1242
#> 2  2013     6    15     1432           1935      1137     1607
#> 3  2013     1    10     1121           1635      1126     1239
#> 4  2013     9    20     1139           1845      1014     1457
#> 5  2013     7    22      845           1600      1005     1044
#> 6  2013     4    10     1100           1900       960     1342
#> # … with 3.368e+05 more rows, and 12 more variables: sched_arr_time <int>,
#> #   arr_delay <dbl>, carrier <chr>, flight <int>, tailnum <chr>,
#> #   origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>, hour <dbl>,
#> #   minute <dbl>, time_hour <dttm>

Missing values are always sorted at the end:

# 3 Exercises
- How could you use arrange() to sort all missing values to the start? (Hint: use is.na()).

- Sort flights to find the most delayed flights. Find the flights that left earliest.

- Sort flights to find the fastest flights.

- Which flights travelled the longest? Which travelled the shortest?

Other logical operators
-----------------------

In the previous example we used `==` to filter rows. Other relational
and logical operators are listed below.

 | Operator  | Meaning                   | 
 | ----------| --------------------------| 
 | `==`      | equal to                  | 
 | `!=`      | not equal to              | 
 | `>`       | greater than              | 
 | `>=`      | greater than or equal to  | 
 | `<`       | less than                 | 
 | `<=`      | less than or equal to     | 
 | `%in%`    | contained in              | 

These operators may be combined with `&` (and) or `|` (or).

# 5.4 Select columns with select()
It’s not uncommon to get datasets with hundreds or even thousands of variables. In this case, the first challenge is often narrowing in on the variables you’re actually interested in. select() allows you to rapidly zoom in on a useful subset using operations based on the names of the variables.

select() is not terribly useful with the flights data because we only have 19 variables, but you can still get the general idea:


# Select columns by name

In [ ]:
select(flights, year, month, day)
#> # A tibble: 336,776 x 3
#>    year month   day
#>   <int> <int> <int>
#> 1  2013     1     1
#> 2  2013     1     1
#> 3  2013     1     1
#> 4  2013     1     1
#> 5  2013     1     1
#> 6  2013     1     1
#> # … with 3.368e+05 more rows


# Select all columns between year and day (inclusive)
select(flights, year:day)
#> # A tibble: 336,776 x 3
#>    year month   day
#>   <int> <int> <int>
#> 1  2013     1     1
#> 2  2013     1     1
#> 3  2013     1     1
#> 4  2013     1     1
#> 5  2013     1     1
#> 6  2013     1     1
#> # … with 3.368e+05 more rows

# Select all columns except those from year to day (inclusive)
select(flights, -(year:day))
#> # A tibble: 336,776 x 16
#>   dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
#>      <int>          <int>     <dbl>    <int>          <int>     <dbl>
#> 1      517            515         2      830            819        11
#> 2      533            529         4      850            830        20
#> 3      542            540         2      923            850        33
#> 4      544            545        -1     1004           1022       -18
#> 5      554            600        -6      812            837       -25
#> 6      554            558        -4      740            728        12
#> # … with 3.368e+05 more rows, and 10 more variables: carrier <chr>,
#> #   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#> #   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>

There are a number of helper functions you can use within select():

starts_with("abc"): matches names that begin with “abc”.

ends_with("xyz"): matches names that end with “xyz”.

contains("ijk"): matches names that contain “ijk”.

matches("(.)\\1"): selects variables that match a regular expression. This one matches any variables that contain repeated characters. You’ll learn more about regular expressions in strings.

num_range("x", 1:3): matches x1, x2 and x3.

See ?select for more details.

select() can be used to rename variables, but it’s rarely useful because it drops all of the variables not explicitly mentioned. Instead, use rename(), which is a variant of select() that keeps all the variables that aren’t explicitly mentioned:

rename(flights, tail_num = tailnum)
#> # A tibble: 336,776 x 19
#>    year month   day dep_time sched_dep_time dep_delay arr_time
#>   <int> <int> <int>    <int>          <int>     <dbl>    <int>
#> 1  2013     1     1      517            515         2      830
#> 2  2013     1     1      533            529         4      850
#> 3  2013     1     1      542            540         2      923
#> 4  2013     1     1      544            545        -1     1004
#> 5  2013     1     1      554            600        -6      812
#> 6  2013     1     1      554            558        -4      740
#> # … with 3.368e+05 more rows, and 12 more variables: sched_arr_time <int>,
#> #   arr_delay <dbl>, carrier <chr>, flight <int>, tail_num <chr>,
#> #   origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>, hour <dbl>,
#> #   minute <dbl>, time_hour <dttm>
Another option is to use select() in conjunction with the everything() helper. This is useful if you have a handful of variables you’d like to move to the start of the data frame.

select(flights, time_hour, air_time, everything())
#> # A tibble: 336,776 x 19
#>   time_hour           air_time  year month   day dep_time sched_dep_time
#>   <dttm>                 <dbl> <int> <int> <int>    <int>          <int>
#> 1 2013-01-01 05:00:00      227  2013     1     1      517            515
#> 2 2013-01-01 05:00:00      227  2013     1     1      533            529
#> 3 2013-01-01 05:00:00      160  2013     1     1      542            540
#> 4 2013-01-01 05:00:00      183  2013     1     1      544            545
#> 5 2013-01-01 06:00:00      116  2013     1     1      554            600
#> 6 2013-01-01 05:00:00      150  2013     1     1      554            558
#> # … with 3.368e+05 more rows, and 12 more variables: dep_delay <dbl>,
#> #   arr_time <int>, sched_arr_time <int>, arr_delay <dbl>, carrier <chr>,
#> #   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, distance <dbl>,
#> #   hour <dbl>, minute <dbl>

# 4 Exercises
Brainstorm as many ways as possible to select dep_time, dep_delay, arr_time, and arr_delay from flights.

What happens if you include the name of a variable multiple times in a select() call?

What does the one_of() function do? Why might it be helpful in conjunction with this vector?

vars <- c("year", "month", "day", "dep_delay", "arr_delay")


Does the result of running the following code surprise you? How do the select helpers deal with case by default? How can you change that default?

select(flights, contains("TIME"))

# 5.5 Add new variables with mutate()
Besides selecting sets of existing columns, it’s often useful to add new columns that are functions of existing columns. That’s the job of mutate(). 

Mutate() always adds new columns at the end of your dataset so we’ll start by creating a narrower dataset so we can see the new variables. Remember that when you’re in RStudio, the easiest way to see all the columns is View().

In [ ]:

flights_sml <- select(flights, 
  year:day, 
  ends_with("delay"), 
  distance, 
  air_time
)
mutate(flights_sml,
  gain = dep_delay - arr_delay,
  speed = distance / air_time * 60
)
#> # A tibble: 336,776 x 9
#>    year month   day dep_delay arr_delay distance air_time  gain speed
#>   <int> <int> <int>     <dbl>     <dbl>    <dbl>    <dbl> <dbl> <dbl>
#> 1  2013     1     1         2        11     1400      227    -9  370.
#> 2  2013     1     1         4        20     1416      227   -16  374.
#> 3  2013     1     1         2        33     1089      160   -31  408.
#> 4  2013     1     1        -1       -18     1576      183    17  517.
#> 5  2013     1     1        -6       -25      762      116    19  394.
#> 6  2013     1     1        -4        12      719      150   -16  288.
#> # … with 3.368e+05 more rows
Note that you can refer to columns that you’ve just created:

mutate(flights_sml,
  gain = dep_delay - arr_delay,
  hours = air_time / 60,
  gain_per_hour = gain / hours
)
#> # A tibble: 336,776 x 10
#>    year month   day dep_delay arr_delay distance air_time  gain hours
#>   <int> <int> <int>     <dbl>     <dbl>    <dbl>    <dbl> <dbl> <dbl>
#> 1  2013     1     1         2        11     1400      227    -9  3.78
#> 2  2013     1     1         4        20     1416      227   -16  3.78
#> 3  2013     1     1         2        33     1089      160   -31  2.67
#> 4  2013     1     1        -1       -18     1576      183    17  3.05
#> 5  2013     1     1        -6       -25      762      116    19  1.93
#> 6  2013     1     1        -4        12      719      150   -16  2.5 
#> # … with 3.368e+05 more rows, and 1 more variable: gain_per_hour <dbl>
If you only want to keep the new variables, use transmute():

transmute(flights,
  gain = dep_delay - arr_delay,
  hours = air_time / 60,
  gain_per_hour = gain / hours
)
#> # A tibble: 336,776 x 3
#>    gain hours gain_per_hour
#>   <dbl> <dbl>         <dbl>
#> 1    -9  3.78         -2.38
#> 2   -16  3.78         -4.23
#> 3   -31  2.67        -11.6 
#> 4    17  3.05          5.57
#> 5    19  1.93          9.83
#> 6   -16  2.5          -6.4 
#> # … with 3.368e+05 more rows

# 5.5.1 Useful creation functions

There are many functions for creating new variables that you can use with mutate(). The key property is that the function must be vectorised: it must take a vector of values as input, return a vector with the same number of values as output. There’s no way to list every possible function that you might use, but here’s a selection of functions that are frequently useful:

Arithmetic operators: +, -, *, /, ^. These are all vectorised, using the so called “recycling rules”. If one parameter is shorter than the other, it will be automatically extended to be the same length. This is most useful when one of the arguments is a single number: air_time / 60, hours * 60 + minute, etc.

Arithmetic operators are also useful in conjunction with the aggregate functions you’ll learn about later. For example, x / sum(x) calculates the proportion of a total, and y - mean(y) computes the difference from the mean.

Modular arithmetic: %/% (integer division) and %% (remainder), where x == y * (x %/% y) + (x %% y). Modular arithmetic is a handy tool because it allows you to break integers up into pieces. For example, in the flights dataset, you can compute hour and minute from dep_time with:

In [ ]:
transmute(flights,
  dep_time,
  hour = dep_time %/% 100,
  minute = dep_time %% 100
)
#> # A tibble: 336,776 x 3
#>   dep_time  hour minute
#>      <int> <dbl>  <dbl>
#> 1      517     5     17
#> 2      533     5     33
#> 3      542     5     42
#> 4      544     5     44
#> 5      554     5     54
#> 6      554     5     54
#> # … with 3.368e+05 more rows

Logs: log(), log2(), log10(). Logarithms are an incredibly useful transformation for dealing with data that ranges across multiple orders of magnitude. They also convert multiplicative relationships to additive, a feature we’ll come back to in modelling.

All else being equal, I recommend using log2() because it’s easy to interpret: a difference of 1 on the log scale corresponds to doubling on the original scale and a difference of -1 corresponds to halving.

Offsets: lead() and lag() allow you to refer to leading or lagging values. This allows you to compute running differences (e.g. x - lag(x)) or find when values change (x != lag(x)). They are most useful in conjunction with group_by(), which you’ll learn about shortly.

In [ ]:
(x <- 1:10)
#>  [1]  1  2  3  4  5  6  7  8  9 10
lag(x)
#>  [1] NA  1  2  3  4  5  6  7  8  9
lead(x)
#>  [1]  2  3  4  5  6  7  8  9 10 NA
Cumulative and rolling aggregates: R provides functions for running sums, products, mins and maxes: cumsum(), cumprod(), cummin(), cummax(); and dplyr provides cummean() for cumulative means. If you need rolling aggregates (i.e. a sum computed over a rolling window), try the RcppRoll package.

x
#>  [1]  1  2  3  4  5  6  7  8  9 10
cumsum(x)
#>  [1]  1  3  6 10 15 21 28 36 45 55
cummean(x)
#>  [1] 1.0 1.5 2.0 2.5 3.0 3.5 4.0 4.5 5.0 5.5
Logical comparisons, <, <=, >, >=, !=, and ==, which you learned about earlier. If you’re doing a complex sequence of logical operations it’s often a good idea to store the interim values in new variables so you can check that each step is working as expected.

Ranking: there are a number of ranking functions, but you should start with min_rank(). It does the most usual type of ranking (e.g. 1st, 2nd, 2nd, 4th). The default gives smallest values the small ranks; use desc(x) to give the largest values the smallest ranks.

In [ ]:
y <- c(1, 2, 2, NA, 3, 4)
min_rank(y)
#> [1]  1  2  2 NA  4  5
min_rank(desc(y))
#> [1]  5  3  3 NA  2  1
If min_rank() doesn’t do what you need, look at the variants row_number(), dense_rank(), percent_rank(), cume_dist(), ntile(). See their help pages for more details.

row_number(y)
#> [1]  1  2  3 NA  4  5
dense_rank(y)
#> [1]  1  2  2 NA  3  4
percent_rank(y)
#> [1] 0.00 0.25 0.25   NA 0.75 1.00
cume_dist(y)
#> [1] 0.2 0.6 0.6  NA 0.8 1.0

# 5 Exercises
- Currently dep_time and sched_dep_time are convenient to look at, but hard to compute with because they’re not really continuous numbers. Convert them to a more convenient representation of number of minutes since midnight.

- Compare air_time with arr_time - dep_time. What do you expect to see? What do you see? What do you need to do to fix it?

- Compare dep_time, sched_dep_time, and dep_delay. How would you expect those three numbers to be related?

- Find the 10 most delayed flights using a ranking function. How do you want to handle ties? Carefully read the documentation for min_rank().

- What does 1:3 + 1:10 return? Why?

- What trigonometric functions does R provide?

Plotting 
===================================

It can be difficult to spot trends when looking at summary tables.
Plotting the data makes it easier to identify interesting patterns.

R has decent plotting tools built-in -- see e.g., `help(plot)`.
However, To make things easier on ourselves we will use a *contributed
package* called `ggplot2` instead.

In [ ]:
## install.packages("ggplot2")
library(ggplot2)

For quick and simple plots we can use the `qplot` function. For example,
we can plot the how the flights are delayed by American Airlnes over different time like this:

In [ ]:
American <- filter(flights,carrier == 'AA')

In [ ]:
#flights delayed in every month
qplot(x = month, y = dep_delay,
      data = American)

Interetingly there are usually some gender-atypical names, even for very strongly 
gendered names like "Diana". Splitting these trends out by Sex is very easy:

In [ ]:
#flights delayed in each day
qplot(x = day, y = dep_delay,
      data = American)

Exercise <span class="tag" data-tag-name="prototype"></span>
----------------------------------------------------------------------

In [ ]:
#use different colors for different destinations
qplot(x = month, y = arr_delay, color = dest, data = American)

In [ ]:
# 4.  BONUS (Optional): Adust the plot to use lines instead of points.

In [ ]:
qplot(x = month, y = arr_delay, color = dest, data = American, geom = "line")

# saving the data you've worked on

In [ ]:
# write data to a .csv file
write_csv(nycflights13::flights, "flights.csv")

In [ ]:
# write data to an R file
write_rds(nycflights13::flights, "flights.rds")

Saving and loading R workspaces
-------------------------------

In addition to importing individual datasets, R can save and load entire
workspaces

In [ ]:
ls() # list objects in our workspace
save.image(file="myWorkspace.RData") # save workspace 
rm(list=ls()) # remove all objects from our workspace 
ls() # list stored objects to make sure they are deleted

In [ ]:
## Load the "myWorkspace.RData" file and check that it is restored
load("myWorkspace.RData") # load myWorkspace.RData
ls() # list objects

Wrap-up
=======

Help us make this workshop better!
----------------------------------

Please take a moment to fill out a very short feedback form. These
workshops exist for you -- tell us what you need!
<http://tinyurl.com/R-intro-feedback>

Additional resources
--------------------

-   IQSS workshops:
    <http://projects.iq.harvard.edu/rtc/filter_by/workshops>
-   IQSS statistical consulting: <http://dss.iq.harvard.edu>
-   Software (all free!):
    -   R and R package download: <http://cran.r-project.org>
    -   Rstudio download: <http://rstudio.org>
    -   ESS (emacs R package): <http://ess.r-project.org/>
-   Online tutorials
    -   <http://www.codeschool.com/courses/try-r>
    -   <http://www.datacamp.org>
    -   <http://swirlstats.com/>
    -   <http://r4ds.had.co.nz/>
-   Getting help:
    -   Documentation and tutorials:
        <http://cran.r-project.org/other-docs.html>
    -   Recommended R packages by topic:
        <http://cran.r-project.org/web/views/>
    -   Mailing list: <https://stat.ethz.ch/mailman/listinfo/r-help>
    -   StackOverflow: <http://stackoverflow.com/questions/tagged/r>
-   Coming from...
    Stata
    :   <http://www.princeton.edu/~otorres/RStata.pdf>
    SAS/SPSS
    :   <http://www.et.bs.ehu.es/~etptupaf/pub/R/RforSAS&SPSSusers.pdf>
   matlab
   :   <http://www.math.umaine.edu/~hiebeler/comp/matlabR.pdf>
    Python
    :   <http://mathesaurus.sourceforge.net/matlab-python-xref.pdf>